body {
  margin: 0;
  padding: 0;
  font-family: "Rajdhani", sans-serif; }
  body .header {
    background: url(../img/Header.jpg);
    background-size: cover;
    height: 100vh;
    background-attachment: fixed;
    background-position: top;
    display: flex;
    justify-content: center;
    background-position-y: -6px; }
    body .header .nav-var {
      display: flex;
      width: 90%;
      height: 15vh;
      justify-content: space-between;
      align-items: center;
      position: fixed;
      margin: 40px 20px 20px 20px; }
      body .header .nav-var .logo {
        width: 90px;
        margin: 10px;
        height: 90%;
        color: #000;
        padding-top: 20px; }
        body .header .nav-var .logo a {
          cursor: pointer;
          color: #000;
          text-decoration: none;
          font-weight: 500;
          font-size: 25px;
          margin-top: 20px; }
      body .header .nav-var .nav-list {
        list-style: none;
        display: flex;
        font-weight: 400; }
        body .header .nav-var .nav-list li {
          letter-spacing: 3px;
          margin-left: 32px;
          font-size: x-large; }
        body .header .nav-var .nav-list a {
          color: #000;
          text-decoration: none; }
        body .header .nav-var .nav-list li::after {
          content: "";
          display: block;
          width: 0;
          height: 2px;
          background: #000;
          transition: width 0.3s; }
        body .header .nav-var .nav-list li:hover::after {
          width: 100%;
          transition: width 0.3s; }

body .header .nav-var .mobile-menu {
  display: none;
  cursor: pointer; }
  body .header .nav-var .mobile-menu div {
    width: 25px;
    height: 3px;
    color: #fff;
    margin: 5px;
    background: #fff;
    transition: all 0.3s ease; }

@media screen and (max-width: 700px) {
  body .header .nav-var .nav-list {
    position: inherit;
    top: -20px;
    right: 0;
    width: 60%;
    height: 100vh;
    background-color: #fff;
    flex-direction: column;
    justify-content: space-around;
    padding: 0px 9px 0px 0px;
    transform: translateX(300%);
    transition: transform 0.3s ease-in-out; }
    body .header .nav-var .nav-list li {
      margin-left: 20px;
      opacity: 0;
      transition: 0.5s ease-in-out; }
      body .header .nav-var .nav-list li a {
        font-size: 15px; }
  body .header .nav-var .nav-list.active {
    transform: translateX(0vh);
    transition: 0.5s ease-in-out; }
  body .header .nav-var .mobile-menu {
    display: block; }
  body .header .nav-var .logo {
    padding-top: inherit;
    z-index: 1; } }
@keyframes navLinkFade {
  from {
    opacity: 0;
    transform: translateX(50px); }
  to {
    opacity: 1;
    transform: translateX(0); } }
.toggle .line1 {
  transform: rotate(-45deg) translate(-5px, 6px); }

.toggle .line2 {
  opacity: 0; }

.toggle .line3 {
  transform: rotate(45deg) translate(-5px, -6px); }

/*# sourceMappingURL=estilo.css.map */
