//                                                                                                                              HEADER
body
    margin: 0
    padding: 0
    font-family: 'Raleway', sans-serif
    .header
        background: url(../img/Header.jpg)
        background-size: cover
        background-attachment: fixed
        background-position: top
        display: flex
        justify-content: center
        background-position-y: -6px
        height: 100vh
        .nav-var
            display: flex
            width: 100%
            justify-content: space-between
            position: fixed
            margin: 0px 20px 20px 20px
            z-index: 1
            align-items: center
            transition: 0.6s
            .logo
                min-width: fit-content
                margin-left: 45px
                color: #000
                a
                    cursor: pointer
                    color: #000
                    text-decoration: none
                    font-weight: 300
                    font-size:  25px
                    margin-top: 20px        
            .nav-list
                list-style: none
                display: flex
                font-weight: 300
                margin-left: 15vh
                li
                    font-size: large
                    box-shadow: 0px 2px 0 -1px #0000001e
                    margin-left: 10vh
                a
                    color: #000
                    text-decoration: none   
                li::after
                    content: ''
                    display: block
                    width: 0
                    height: 2px
                    background: #000
                    transition: width .3s
                li:hover::after
                    width: 100%
                    transition: width .3s      
            .mob-header
                display: flex
                .social-widgets
                    display: flex
                    justify-content: end
                    padding: 21px 45px 0px 30px
                    visibility: hidden
                    a
                        font-size: large
                        width: 35px
                        text-decoration: none
                        color: #000
            .mobile-menu
                display: none
                cursor: pointer
                div
                    width: 25px
                    height: 3px
                    color: #000
                    margin: 5px
                    background: #000
                    transition: all 0.3s ease
        .cont1
            width: 85%
            height: 50%    
            position: sticky
            top: 40vh  
            .writ
                margin-bottom: 90px
                h2
                    font-weight: 400
                    font-size: x-large 
                    color: #000
                    .typed
                        .weare
                            font-weight: 400
                            color: #000
                            background-color: #584b4b57
                            font-style: normal
                            font-size: larger
            .budget
                box-shadow: 0px 0px 0px 0.6px #fff
                padding: 5px
                width: max-content
                transition: all 0.3s ease
                a
                    text-decoration: none
                    color: #000
                    font-size: unset
                    transition: all 0.3s ease
                a.active
                    color: #fff  
                    transition: all 0.3s ease  
            .budget.active
                background-color: #584b4b57
                padding: 8px    
                transition: all 0.3s ease    
@media screen and ( max-width: 700px)
    body
        .header
            .cont1
                top: 30vh
            .nav-var
                padding-top: 10px
                height: 7vh
                .mob-header.active
                    transform: translateX(0vh)
                    transition: all 0.8s ease 
                    padding-top: 10px
                .mob-header
                    background-color: #fff
                    position: fixed
                    top: 0
                    right: 0
                    width: 60%
                    height: 80vh
                    transform: translateX(300%)    
                    transition: all 0.8s ease
                    flex-direction: column
                    .nav-list
                        flex-direction: column
                        transform: translateX(300%)
                        transition: transform 0.3s ease-in-out
                        padding: 45px 30px 30px 30px
                        margin-left: 0px
                        li
                            opacity: 0
                            transition: 0.5s ease-in-out  
                            height: 50px  
                            display: flex
                            align-items: center
                            margin-left: 0px
                            a
                                font-size: larger
                    .nav-list.active
                        transform: translateX(0vh)
                        transition: 0.5s ease-in-out    
                    .social-widgets
                        visibility: inherit    
                        a
                            cursor: pointer
                .mobile-menu
                    display: block
                    position: fixed
                    right: 20px
                .logo
                    z-index: 1
                    margin-left: 20px
                    a
                        font-size: larger
@keyframes navLinkFade 
    from
        opacity: 0
        transform: translateX(50px)
    to
        opacity: 1
        transform: translateX(0)
.toggle .line1
    transform: rotate(-45deg) translate(-5px,6px)        
.toggle .line2
    opacity: 0        
.toggle .line3
    transform: rotate(45deg) translate(-5px,-6px)                   

//                                                                                                                         STICKY NAV-BAR
body
    .header
        .nav-var.sticky
            background-color: #fff

//                                                                                                                             WHOWEARE            
body
    .whoware
        height: 90vh
        display: flex
        padding: 5%
        .who
            width: 50%
            height: 50%
            background-color: #fff
            box-shadow: 0px 0px 10px 5px #a6a4a0
            padding: 10px
            opacity: 0.7
            left: 5%
            position: absolute
            bottom: -60%
        .img1
            background: url(../img/img1.jpg)
            background-size: cover     
            width: 50%
            height: 58vh
            position: absolute
            bottom: -110vh
            margin: 10px 10px 10px 31px
            display: flex
            justify-content: center
            left: 5%
            p
                position: absolute
                bottom: -19vh
                box-shadow: 0px 15px 0px -12px #c1bebc
                font-size: xx-large
                font-weight: 400  
        .img2
            background: url(../img/img2.jpg)
            background-size: cover      
            right: 5%
            position: absolute 
            width: 25%
            height: 60vh   
            display: flex
            justify-content: center
            p
                position: absolute
                bottom: -10vh
                box-shadow: 0px 15px 0px -9px #c1bebc
                font-size: unset
                font-weight: 400
        .line1
            position: absolute
            z-index: -1
            width: 55%
            height: 112vh
            background-color: #dcd7d3
            right: 0
            bottom: -110%
        .line2
            z-index: -1
            bottom: -120%
            position: absolute
            width: 100%
            height: 45vh
            background-color: #dcd7d3
            z-index: -1
            left: 0

            





    
    
@media screen and ( max-width: 700px)   
    body    
        .whoware
            display: flex
            height: 80vh
            margin-top: 10%
            justify-content: space-between
            flex-direction: column
            z-index: 2
            text-align: right
            padding: 0%
            .who
                width: 85%
                height: 75vh
                padding: 10px
                background-color: #fff
                z-index: 0
                box-shadow: 0px 0px 10px 5px #a6a4a0
                opacity: 0.7
                bottom: inherit
                left: inherit
                position: inherit
                p
                    font-size: larger
            .img1
                background: url(../img/img1.jpg)
                background-size: cover     
                width: 90%
                height: 35vh
                position: absolute
                bottom: -100vh
                display: flex
                justify-content: center
                left: -5%
                p
                    position: absolute
                    bottom: -15vh
                    box-shadow: 0px 15px 0px -12px #c1bebc
                    font-size: x-large
                    font-weight: 400
            .img2
                background: url(../img/img2.jpg)
                background-size: cover     
                visibility: hidden
            .line1
                top: 99%
                right: 0
                display: flex
                position: absolute
                z-index: -1
                width: 47%
                height: 100vh
                background: #dbd7d6
                box-shadow: -5px 0px 5px 0px #a6a4a0
            .line2
                position: absolute
                width: 100%
                height: 60vh
                top: 170%
                background-color: #36707f
                z-index: -1



      

//                                                                                                                          BTN-TOP
body
    .top-btn
        display: none
        position: fixed
        bottom: 0px
        right: 5px
        font-size: 26px
        width: 50px
        height: 50px
        color: #333
        cursor: pointer
        outline: none
        transition-duration: 0.2s
        transition-timing-function: ease-in-out
        transition-property: background-color, color
        background-color: transparent
        border-color: transparent
        z-index: 1
    .top-btn:hover
        color: #fff
    .top-btn:focus
        color: #fff
/* Animations */
.btnEntrance 
    animation-duration: 0.5s
    animation-fill-mode: both
    animation-name: btnEntrance
@keyframes btnEntrance 
    from 
        opacity: 0
        transform: translate3d(0, 100%, 0)
  
    to 
        opacity: 1
        transform: translate3d(0, 0, 0)
.btnExit 
    animation-duration: 0.25s
    animation-fill-mode: both
    animation-name: btnExit
@keyframes btnExit 
    from 
        opacity: 1
  
    to 
        opacity: 0
        transform: translate3d(0, 100%, 0)
  
   
           


    





               
             
                    

        
         



                    
