body {
  margin: 0;
  padding: 0;
  font-family: "Rajdhani", sans-serif; }
  body .header {
    background: url(../img/Header.jpg);
    background-size: cover;
    height: 100vh;
    background-attachment: fixed;
    background-position: top;
    display: flex;
    justify-content: center;
    background-position-y: -6px; }
    body .header .nav-var {
      display: flex;
      width: 90%;
      height: 15vh;
      justify-content: space-between;
      align-items: center;
      position: fixed;
      margin: 40px 20px 20px 20px;
      z-index: 1; }
      body .header .nav-var .logo {
        width: 90px;
        margin: 10px;
        height: 90%;
        color: #000;
        padding-top: 20px; }
        body .header .nav-var .logo a {
          cursor: pointer;
          color: #000;
          text-decoration: none;
          font-weight: 500;
          font-size: 25px;
          margin-top: 20px; }
      body .header .nav-var .nav-list {
        list-style: none;
        display: flex;
        font-weight: 400;
        margin-left: 10vh; }
        body .header .nav-var .nav-list li {
          font-size: x-large;
          box-shadow: 0 1px 0 0 #0000001e;
          margin-left: 10vh; }
        body .header .nav-var .nav-list a {
          color: #000;
          text-decoration: none; }
        body .header .nav-var .nav-list li::after {
          content: "";
          display: block;
          width: 0;
          height: 2px;
          background: #000;
          transition: width 0.3s; }
        body .header .nav-var .nav-list li:hover::after {
          width: 100%;
          transition: width 0.3s; }
      body .header .nav-var .mob-header {
        display: flex; }
        body .header .nav-var .mob-header .social-widgets {
          display: flex;
          justify-content: end;
          padding: 21px 45px 0px 30px;
          visibility: hidden; }
          body .header .nav-var .mob-header .social-widgets a {
            font-size: large;
            width: 35px;
            text-decoration: none;
            color: #000; }
      body .header .nav-var .mobile-menu {
        display: none;
        cursor: pointer; }
        body .header .nav-var .mobile-menu div {
          width: 25px;
          height: 3px;
          color: #000;
          margin: 5px;
          background: #000;
          transition: all 0.3s ease; }
    body .header .cont1 {
      width: 85%;
      height: 50%;
      position: fixed;
      top: 30vh; }
      body .header .cont1 .writ h2 {
        font-weight: 400;
        font-size: x-large;
        color: #fff; }
        body .header .cont1 .writ h2 .typed .weare {
          font-weight: 400;
          color: #fff;
          background-color: #584b4b57;
          font-style: normal;
          font-size: larger; }

@media screen and (max-width: 700px) {
  body .header .nav-var .mob-header.active {
    transform: translateX(0vh);
    transition: all 0.8s ease; }
  body .header .nav-var .mob-header {
    background-color: #fff;
    position: fixed;
    top: 0;
    right: 0;
    width: 60%;
    height: 80vh;
    transform: translateX(300%);
    transition: all 0.8s ease;
    flex-direction: column; }
    body .header .nav-var .mob-header .nav-list {
      flex-direction: column;
      transform: translateX(300%);
      transition: transform 0.3s ease-in-out;
      padding: 45px 30px 30px 30px;
      margin-left: 0px; }
      body .header .nav-var .mob-header .nav-list li {
        opacity: 0;
        transition: 0.5s ease-in-out;
        height: 50px;
        display: flex;
        align-items: center;
        margin-left: 0px; }
        body .header .nav-var .mob-header .nav-list li a {
          font-size: 27px; }
    body .header .nav-var .mob-header .nav-list.active {
      transform: translateX(0vh);
      transition: 0.5s ease-in-out; }
    body .header .nav-var .mob-header .social-widgets {
      visibility: inherit; }
      body .header .nav-var .mob-header .social-widgets a {
        cursor: pointer; }
  body .header .nav-var .mobile-menu {
    display: block;
    position: fixed;
    top: 60px;
    right: 30px; }
  body .header .nav-var .logo {
    padding-top: inherit;
    z-index: 1; } }
@keyframes navLinkFade {
  from {
    opacity: 0;
    transform: translateX(50px); }
  to {
    opacity: 1;
    transform: translateX(0); } }
.toggle .line1 {
  transform: rotate(-45deg) translate(-5px, 6px); }

.toggle .line2 {
  opacity: 0; }

.toggle .line3 {
  transform: rotate(45deg) translate(-5px, -6px); }

/*# sourceMappingURL=estilo.css.map */
