html {
  scroll-behavior: smooth; }

section[id] {
  scroll-margin-top: 100px; }

body {
  margin: 0;
  padding: 0;
  font-family: "Raleway", sans-serif;
  background-color: #dbd7d6; }
  body .header {
    background: url(../img/Header.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-position: top;
    display: flex;
    justify-content: center;
    background-position-y: -6px;
    height: 100vh; }
    body .header .nav-var {
      display: flex;
      width: 100%;
      justify-content: space-between;
      position: fixed;
      margin: 0px 20px 20px 20px;
      z-index: 1;
      align-items: center;
      transition: 0.6s; }
      body .header .nav-var .logo {
        min-width: fit-content;
        margin-left: 45px;
        color: #000; }
        body .header .nav-var .logo a {
          cursor: pointer;
          color: #000;
          text-decoration: none;
          font-weight: 300;
          font-size: 25px;
          margin-top: 20px; }
      body .header .nav-var .nav-list {
        list-style: none;
        display: flex;
        font-weight: 300;
        margin-left: 15vh; }
        body .header .nav-var .nav-list li {
          font-size: large;
          box-shadow: 0px 2px 0 -1px #0000001e;
          margin-left: 10vh; }
        body .header .nav-var .nav-list a {
          color: #000;
          text-decoration: none; }
        body .header .nav-var .nav-list li::after {
          content: "";
          display: block;
          width: 0;
          height: 2px;
          background: #000;
          transition: width 0.3s; }
        body .header .nav-var .nav-list li:hover::after {
          width: 100%;
          transition: width 0.3s; }
      body .header .nav-var .mob-header {
        display: flex;
        align-items: center; }
        body .header .nav-var .mob-header .social-widgets {
          display: flex;
          justify-content: end;
          padding: 21px 45px 30px 30px;
          visibility: hidden; }
          body .header .nav-var .mob-header .social-widgets a {
            font-size: large;
            width: 35px;
            text-decoration: none;
            color: #000; }
      body .header .nav-var .mobile-menu {
        display: none;
        cursor: pointer; }
        body .header .nav-var .mobile-menu div {
          width: 25px;
          height: 3px;
          color: #000;
          margin: 5px;
          background: #000;
          transition: all 0.3s ease; }
    body .header .cont1 {
      width: 85%;
      height: 50%;
      position: sticky;
      top: 40vh; }
      body .header .cont1 .writ {
        margin-bottom: 90px; }
        body .header .cont1 .writ h2 {
          font-weight: 400;
          font-size: x-large;
          color: #000; }
          body .header .cont1 .writ h2 .typed .weare {
            font-weight: 400;
            color: #000;
            background-color: #584b4b57;
            font-style: normal;
            font-size: larger; }
      body .header .cont1 .budget {
        box-shadow: 0px 0px 0px 0.6px #fff;
        padding: 5px;
        width: max-content;
        transition: all 0.3s ease; }
        body .header .cont1 .budget a {
          text-decoration: none;
          color: #000;
          font-size: unset;
          transition: all 0.3s ease; }
        body .header .cont1 .budget a.active {
          color: #fff;
          transition: all 0.3s ease; }
      body .header .cont1 .budget.active {
        background-color: #584b4b57;
        padding: 8px;
        transition: all 0.3s ease; }

@media screen and (max-width: 700px) {
  body .header .cont1 {
    top: 30vh; }
  body .header .nav-var {
    padding-top: 10px;
    height: 7vh; }
    body .header .nav-var .mob-header.active {
      transform: translateX(0vh);
      transition: all 0.8s ease;
      padding-top: 10px; }
    body .header .nav-var .mob-header {
      background-color: #fff;
      position: fixed;
      top: 0;
      right: 0;
      width: 55%;
      height: 80vh;
      transform: translateX(300%);
      transition: all 0.8s ease;
      flex-direction: column; }
      body .header .nav-var .mob-header .nav-list {
        flex-direction: column;
        transform: translateX(300%);
        transition: transform 0.3s ease-in-out;
        padding: 45px 30px 30px 30px;
        margin-left: 0px;
        width: 70%; }
        body .header .nav-var .mob-header .nav-list li {
          opacity: 0;
          transition: 0.5s ease-in-out;
          height: 50px;
          display: flex;
          align-items: center;
          margin-left: 0px; }
          body .header .nav-var .mob-header .nav-list li a {
            font-size: larger; }
      body .header .nav-var .mob-header .nav-list.active {
        transform: translateX(0vh);
        transition: 0.5s ease-in-out; }
      body .header .nav-var .mob-header .social-widgets {
        visibility: inherit;
        position: absolute;
        bottom: 0; }
        body .header .nav-var .mob-header .social-widgets a {
          cursor: pointer; }
    body .header .nav-var .mobile-menu {
      display: block;
      position: fixed;
      right: 20px; }
    body .header .nav-var .logo {
      z-index: 1;
      margin-left: 20px; }
      body .header .nav-var .logo a {
        font-size: larger; } }
@keyframes navLinkFade {
  from {
    opacity: 0;
    transform: translateX(50px); }
  to {
    opacity: 1;
    transform: translateX(0); } }
.toggle .line1 {
  transform: rotate(-45deg) translate(-5px, 6px); }

.toggle .line2 {
  opacity: 0; }

.toggle .line3 {
  transform: rotate(45deg) translate(-5px, -6px); }

body .header .nav-var.sticky {
  background-color: #fffdfdcf; }

body .whoware {
  height: 90vh;
  display: flex;
  padding: 5%; }
  body .whoware .who {
    width: 50%;
    height: 50%;
    background-color: #fff;
    box-shadow: 0px 0px 10px 5px #a6a4a0;
    padding: 10px;
    opacity: 0.7;
    left: 5%;
    position: absolute;
    bottom: -60%; }
    body .whoware .who p {
      letter-spacing: 2px; }
  body .whoware .img1 {
    background: url(../img/img1.jpg);
    background-size: cover;
    width: 50%;
    height: 58vh;
    position: absolute;
    bottom: -110vh;
    margin: 10px 10px 10px 31px;
    display: flex;
    justify-content: center;
    left: 5%; }
    body .whoware .img1 p {
      position: absolute;
      bottom: -19vh;
      box-shadow: 0px 15px 0px -12px #c1bebc;
      font-size: xx-large;
      font-weight: 400; }
  body .whoware .line1 {
    position: absolute;
    z-index: -1;
    height: 112vh;
    background-color: #dcd7d3;
    right: 0;
    bottom: -112%;
    text-align: end;
    padding-right: 10vh;
    align-items: center;
    text-align: right;
    display: flex;
    padding-left: 10%; }
    body .whoware .line1 p1 {
      font-weight: 300; }
    body .whoware .line1 p2 {
      font-weight: 400; }
  body .whoware .line2 {
    z-index: -1;
    bottom: -112%;
    position: absolute;
    width: 100%;
    height: 50vh;
    background-color: #dcd7d3;
    z-index: -1;
    left: 0; }
    body .whoware .line2 p1 {
      visibility: hidden; }
    body .whoware .line2 p2 {
      visibility: hidden; }

@media screen and (max-width: 700px) {
  body {
    background-color: #dbd7d6; }
    body .whoware {
      display: flex;
      height: max-content;
      margin-top: 10%;
      justify-content: space-between;
      flex-direction: column;
      z-index: 2;
      text-align: right;
      padding: 0%;
      background-color: #dbd7d6; }
      body .whoware .who {
        width: 85%;
        height: max-content;
        padding: 10px;
        background-color: #fff;
        z-index: 0;
        bottom: inherit;
        left: inherit;
        position: inherit; }
        body .whoware .who p {
          font-size: larger;
          letter-spacing: 1px; }
      body .whoware .img1 {
        background: url(../img/img1.jpg);
        background-size: cover;
        width: 100%;
        height: 35vh;
        position: inherit;
        bottom: inherit;
        justify-content: inherit;
        left: inherit;
        margin: inherit;
        z-index: 0;
        margin: -16px 0px 0px 0px; }
      body .whoware .line1 {
        top: 100%;
        right: 0;
        position: absolute;
        z-index: 0;
        width: 100%;
        height: 0vh;
        background: #dbd7d6;
        box-shadow: -5px 0px 5px 0px #a6a4a0;
        padding-right: inherit;
        display: inline-flex;
        align-items: inherit;
        text-align: inherit;
        padding-left: inherit; }
        body .whoware .line1 p1 {
          margin-top: 10px;
          text-align: center;
          width: 100%;
          visibility: hidden; }
        body .whoware .line1 p2 {
          writing-mode: tb;
          height: max-content;
          margin-top: -26px;
          width: 97%;
          visibility: hidden; }
      body .whoware .line2 {
        width: 100%;
        height: 5vh;
        top: 143%;
        background-color: #dbd7d6;
        z-index: 0;
        position: inherit;
        margin-top: 10px; }
        body .whoware .line2 p1 {
          visibility: inherit; }
        body .whoware .line2 p2 {
          visibility: inherit;
          font-size: larger;
          font-weight: 600; } }
body .top-btn {
  display: none;
  position: fixed;
  bottom: 0px;
  right: 5px;
  font-size: 26px;
  width: 50px;
  height: 50px;
  color: #333;
  cursor: pointer;
  outline: none;
  transition-duration: 0.2s;
  transition-timing-function: ease-in-out;
  transition-property: background-color, color;
  background-color: transparent;
  border-color: transparent;
  z-index: 1; }
body .top-btn:hover {
  color: #fff; }
body .top-btn:focus {
  color: #fff; }

/* Animations */
.btnEntrance {
  animation-duration: 0.5s;
  animation-fill-mode: both;
  animation-name: btnEntrance; }

@keyframes btnEntrance {
  from {
    opacity: 0;
    transform: translate3d(0, 100%, 0); }
  to {
    opacity: 1;
    transform: translate3d(0, 0, 0); } }
.btnExit {
  animation-duration: 0.25s;
  animation-fill-mode: both;
  animation-name: btnExit; }

@keyframes btnExit {
  from {
    opacity: 1; }
  to {
    opacity: 0;
    transform: translate3d(0, 100%, 0); } }
body .services {
  padding: 5%;
  height: max-content;
  text-align: center;
  background-color: #6ba1b16b; }
  body .services h2 {
    font-size: x-large;
    font-weight: 500;
    color: #162c34; }
  body .services h4 {
    font-weight: 400;
    font-size: x-large;
    margin-bottom: -20px; }
  body .services .boxes {
    display: flex;
    justify-content: space-around;
    flex-direction: column; }
    body .services .boxes .fas {
      font-size: xxx-large; }
    body .services .boxes h2 {
      font-size: larger;
      font-weight: 400;
      color: #162c34; }
    body .services .boxes .row {
      display: flex;
      margin: 5%; }
    body .services .boxes .box {
      margin: 20px;
      width: 33%; }

@media screen and (max-width: 700px) {
  body .services .boxes {
    display: inherit; }
    body .services .boxes .box {
      margin-top: 10%;
      width: fit-content; }
    body .services .boxes .row {
      align-items: center;
      flex-direction: column; } }
body .gallery {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  min-height: 100vh;
  grid-gap: 1rem;
  padding: 5%; }
  body .gallery .img-container {
    overflow: hidden; }
    body .gallery .img-container img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      transition: all 0.3s ease-out;
      cursor: pointer; }
      body .gallery .img-container img:hover {
        transform: scale(1.2); }
  body .gallery .modal {
    background: rgba(0, 0, 0, 0.8);
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    pointer-events: none;
    position: fixed; }
    body .gallery .modal p {
      color: #fff;
      font-size: 2rem;
      position: absolute;
      left: 50%;
      transform: translate(-50%, -5%);
      bottom: 0%; }
    body .gallery .modal .fas {
      position: absolute;
      right: 0;
      font-size: xx-large;
      margin: 25px;
      color: white;
      top: 55px;
      cursor: pointer; }
    body .gallery .modal .full-img {
      position: absolute;
      height: 70%;
      left: 50%;
      transform: translate(-50%, -50%) scale(0.5);
      transition: all 0.5s ease-out;
      bottom: -20%; }
    body .gallery .modal .full-img.open {
      transform: translate(-50%, -50%) scale(1); }
  body .gallery .modal.open {
    opacity: 1;
    pointer-events: all; }

@media screen and (max-width: 700px) {
  body .gallery {
    display: inherit;
    padding: 2%; }
    body .gallery .img-container {
      margin-top: 10px; }
    body .gallery .modal p {
      width: 100%;
      bottom: 20%;
      text-align: center; }
    body .gallery .modal .full-img.open {
      transform: translate(-50%, -50%) scale(0.5); }
    body .gallery .modal .fas {
      top: 70px; } }
body .about {
  height: 170vh;
  text-align: center;
  padding: 1% 5% 5% 5%;
  overflow: hidden; }
  body .about h2 {
    font-size: x-large;
    font-weight: 500;
    color: #162c34; }
  body .about h4 {
    font-weight: 400;
    font-size: x-large;
    margin-bottom: -20px; }
  body .about .infpic {
    text-align: initial;
    font-size: x-large;
    letter-spacing: 2px;
    margin-top: 50px;
    margin-bottom: 50px;
    display: flex; }
    body .about .infpic p {
      padding: 30px; }
    body .about .infpic img {
      object-fit: cover;
      width: 50%;
      height: 50%; }
  body .about .moreinfo {
    width: 100%;
    height: 25VH; }
  body .about .pics {
    display: flex;
    justify-content: space-between; }
    body .about .pics .mom {
      width: 30%; }
      body .about .pics .mom img {
        object-fit: cover;
        width: 100%;
        height: 50vh;
        cursor: pointer; }
      body .about .pics .mom .description {
        height: 240px;
        background-color: #dadadaa6;
        transform: translateY(-108%);
        opacity: 0;
        transition: all 0.9s ease; }
      body .about .pics .mom .description.hover {
        opacity: 1;
        transition: all 0.9s ease; }
    body .about .pics .mom2 {
      width: 30%; }
      body .about .pics .mom2 img {
        object-fit: cover;
        width: 100%;
        height: 50vh;
        cursor: pointer; }
      body .about .pics .mom2 .description2 {
        height: 240px;
        background-color: #dadadaa6;
        transform: translateY(-108%);
        opacity: 0;
        transition: all 0.9s ease; }
      body .about .pics .mom2 .description2.hover {
        opacity: 1;
        transition: all 0.9s ease; }
    body .about .pics .mom3 {
      width: 30%; }
      body .about .pics .mom3 img {
        object-fit: cover;
        width: 100%;
        height: 50vh;
        cursor: pointer; }
      body .about .pics .mom3 .description3 {
        height: 240px;
        background-color: #dadadaa6;
        transform: translateY(-108%);
        opacity: 0;
        transition: all 0.9s ease; }
      body .about .pics .mom3 .description3.hover {
        opacity: 1;
        transition: all 0.9s ease; }

@media screen and (max-width: 700px) {
  body .about {
    height: 150vh; }
    body .about .infpic {
      flex-direction: column-reverse; }
      body .about .infpic p {
        text-align: center; }
      body .about .infpic img {
        width: 100%; }
    body .about .pics .mom img {
      height: 41vh; }
    body .about .pics .mom2 img {
      height: 41vh; }
    body .about .pics .mom3 img {
      height: 41vh; }
    body .about .moreinfo {
      visibility: hidden;
      width: 0%;
      height: 0%; } }
body .contact {
  display: flex;
  flex-direction: row;
  height: 100vh;
  padding: 1% 5% 5% 5%; }
  body .contact p {
    display: none; }
  body .contact .mapa {
    height: 100%;
    width: 50%; }
  body .contact .info {
    width: 50%;
    background-color: #797979a1;
    height: 100%;
    display: flex;
    flex-direction: column; }
    body .contact .info h2 {
      color: #fff;
      padding: 20px;
      font-size: x-large;
      font-weight: 300; }
    body .contact .info .ubi {
      display: flex;
      align-items: center;
      padding: 35px; }
      body .contact .info .ubi h3 {
        font-size: x-large;
        color: white;
        font-weight: 400; }
      body .contact .info .ubi .icon {
        width: 50px;
        height: 35px; }
        body .contact .info .ubi .icon i {
          font-weight: 900;
          font-size: xx-large; }
    body .contact .info .cel {
      display: flex;
      align-items: center;
      padding: 35px; }
      body .contact .info .cel h3 {
        font-size: x-large;
        color: white;
        font-weight: 400; }
      body .contact .info .cel .icon {
        width: 50px;
        height: 35px; }
        body .contact .info .cel .icon i {
          font-weight: 900;
          font-size: xx-large; }
    body .contact .info .correo {
      display: flex;
      align-items: center;
      padding: 35px; }
      body .contact .info .correo h3 {
        font-size: x-large;
        color: white;
        font-weight: 400; }
      body .contact .info .correo .icon {
        width: 50px;
        height: 35px; }
        body .contact .info .correo .icon i {
          font-weight: 900;
          font-size: xx-large; }
    body .contact .info .social-widgets {
      display: flex;
      padding: 21px 45px 30px 30px; }
      body .contact .info .social-widgets a {
        font-size: xx-large;
        width: 70px;
        text-decoration: none;
        color: #000; }

@media screen and (max-width: 700px) {
  body .contact {
    display: inherit;
    height: inherit; }
    body .contact p {
      font-size: x-large;
      font-weight: 500;
      color: #162c34;
      text-align: center; }
    body .contact .mapa {
      width: 100%;
      height: 50vh;
      margin-bottom: 20px; }
    body .contact .info {
      width: 100%;
      overflow: hidden;
      text-align: center; }
      body .contact .info h2 {
        font-size: x-large;
        font-weight: 500;
        color: #162c34;
        text-align: center;
        text-transform: uppercase; }
      body .contact .info .ubi {
        padding: 10px; }
        body .contact .info .ubi h3 {
          font-size: 88%;
          color: #162c34; }
      body .contact .info .cel {
        padding: 10px; }
        body .contact .info .cel h3 {
          font-size: larger;
          color: #162c34; }
      body .contact .info .correo {
        padding: 10px; }
        body .contact .info .correo h3 {
          font-size: larger;
          color: #162c34; }
      body .contact .info .social-widgets {
        display: inline;
        color: #162c34; } }
body .footer {
  height: 7vh;
  background-color: #9d9b9ba8;
  display: flex;
  padding-left: 5vh; }
  body .footer h3 {
    font-size: x-large;
    font-weight: 400; }
    body .footer h3 a {
      color: black;
      text-decoration: none;
      cursor: pointer; }

@media screen and (max-width: 700px) {
  body .footer {
    height: 7vh;
    padding-left: 3vh; }
    body .footer h3 {
      font-size: larger; } }

/*# sourceMappingURL=estilo.css.map */
